{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Landing Page 2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.min.css' %}">
</head>

<body class="py-5" style="background-color: #FFF;">
    <style type="text/css">
    h1, h2,h3, .money, .pio, h2 a{
        font-weight: bolder !important;
    }
    a{
        text-decoration: none !important;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <img 
    style="width: 150px !important;height: 100px !important;"
    src="../lambo.jpg">
    </div></div>

<div class="w-100 justify-content-center px-5">

<h3 class="text-center pt-2 px-5 mt-5 text-dark text-uppercase">
   Black mask and the <strong class="text-danger">three reasons</strong> I use it to improve my face.....</h3></div>
   <section class="align-middle mt-1" style="height: 90vh;">
    <div class="container pt-2">
        <div class="row pt-4 justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-8 p-5 text-dark text-center">
                <img class="w-100" src="{% static 'img/lambo.jpg' %}">
            </div>
                <div class="row pt-5 px-5 justify-content-center">
                    <div class="col-lg-12 px-5 col-sm-12 text-dark">
                        <p class=" font-weight-bold text-center">A very nice way to flourish in the pains of the abyss and come out alive rejoicing that everything has been so vulnerable this time,
                    I have a lot of ways to make money but I have been dulling around for a very long time and I think you would do it too..., I have seen the way the black mask works and to be honest it is damn incredible, I think of how id improve my facial structures everyday and I think I have, thanks for listening and I hope as you buy this you'd be as blessed as I was the first time I used it......
                </p>
                <p class="pio">A very nice way to flourish in the pains of the abyss and come out alive rejoicing that everything has been so vulnerable this time,
                    I have a lot of ways to make money but I have been dulling around for a very long time and I think you would do it too..., I have seen the way the black mask works and to be honest it is damn incredible, I think of how id improve my facial structures everyday and I think I have, thanks for listening and I hope as you buy this you'd be as blessed as I was the first time I used it......
                </p>
                <p class="pio">A very nice way to flourish in the pains of the abyss and come out alive rejoicing that everything has been so vulnerable this time,
                    I have a lot of ways to make money but I have been dulling around for a very long time and I think you would do it too..., I have seen the way the black mask works and to be honest it is damn incredible, I think of how id improve my facial structures everyday and I think I have, thanks for listening and I hope as you buy this you'd be as blessed as I was the first time I used it......
                </p>
                <style type="text/css">
                    button:hover{
                        background-color: #095695FF !important;
                    }
                </style>
                <div class="w-100 text-center">
                <button class="btn money btn-lg my-3 text-white py-3" style="background-color: #CC0000FF !important;">Make your Order
                    <span class="float-right fa fa-check"></span></button>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>